<table class="flipping-table" ng-controller="FlippingTables as tableData">
    <tbody ng-repeat="group in tableData.groups()" class="flipping-table-group">

        <!-- Toss out a header for the group -->
        <tr class="flipping-table-group-header-row">
            <th class="flipping-table-group-header-cell">
                {{ group.heading() }}
            </th>
        </tr>

        <!-- Toss out a header for all of the columns -->
        <tr class="flipping-table-group-column-header-row">
            <th ng-repeat="column in tableData.columns" class="flipping-table-group-column-header-cell">
                {{ column.label }}
            </th>
        </tr>

        <!-- Toss out a row for each data point -->
        <tr ng-repeat="entry in group.entries" class="flipping-table-group-data-row">
            <td ng-repeat="column in tableData.columns" class="flipping-table-group-data-row">
                {{ entry.displayValue(column) }}
            </td>
        </tr>

    </tbody>
</table>