<table class="flipping-table">
    <tbody ng-repeat="group in tableData.groups" class="flipping-table-group">

        <!-- Toss out a header for the group -->
        <tr class="flipping-table-group-headers">
            <th
                class="flipping-table-group-header"
                ng-attr-colspan="{{tableData.columns.length}}"
            >
                {{ group.heading() }}
            </th>
        </tr>

        <!-- Toss out a header for all of the columns -->
        <tr class="flipping-table-col-headers">
            <th ng-repeat="column in tableData.columns" class="flipping-table-col-header">
                {{ column.label }}
                <div ng-click="tableData.setSortColumn(column,true)">^</div>
                <div ng-click="tableData.setSortColumn(column,false)">v</div>
            </th>
        </tr>

        <!-- Toss out a row for each data point -->
        <tr ng-repeat="entry in group.sortedActiveEntries()" class="flipping-table-data-row">
            <td ng-repeat="column in tableData.columns" class="flipping-table-data">
                {{ column.getDisplayValue(entry) }}
            </td>
        </tr>

    </tbody>
</table>